<% content_for :head do %>
  <title><%= @item.title %>-monolist</title>
  <meta name="keywords" content="<%= @item.title %>">
  <meta name="description" content="<%= @item.title %>に関する情報です。この商品を欲しい人、持ってる人を表示しています。">
<% end %>
<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @item.large_image.present? %>
            <%= image_tag(@item.large_image , alt: @item.title) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <div class="action clearfix">
        <%= render 'action' , item: @item %>
      </div>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% if @item.have_users.any? %>
            <% @item.have_users.each do |have_user| %>
              <%= link_to gravatar_for(have_user, size: 30), have_user %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% if @item.want_users.any? %>
            <% @item.want_users.each do |want_user| %>
              <%= link_to gravatar_for(want_user, size: 30), want_user %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), @item.detail_page_url ) %>
      </div>
    </div>
  </div>
</div>